* { margin: 0; padding: 0; }

body {
    background: #F0EFE8;
    color: #525252;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 12px;
}

a {
    color: #525252;
    text-decoration: none;
}

/* HEADER */

.main-header {
    padding: 60px 0;
}

.main-header h1 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 6px;
}

.main-header p {
    text-transform: lowercase;
    font-size: 14px;
    letter-spacing: 2px;
    opacity: .6;
}

/* PORTFOLIO */
.portfolio {
    margin-bottom: 35px;
    overflow: hidden;
}

.portfolio-list {
    list-style: none;
    padding: 10px;
    overflow: hidden;
}

.portfolio-item {
    width: 100%;
}

.portfolio-link {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 10px;
    -webkit-box-sizing: border-box;
}

.portfolio-thumb {
    display: block;
    width: 100%;
}

.portfolio-name {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: none;
}

.portfolio-link:hover img {
    opacity: .2;
}

.portfolio-link:hover .portfolio-name {
    display: block;
}

/* FOOTER */
.main-footer {
    padding: 60px 0 60px;
    margin: 0 20px;
    border-top: 1px solid #ccc;
}

.social-item {
    display: inline-block;
}

.social-item a {
    display: block;
    padding: 0 10px;
    font-weight: bold;
    font-size: 14px;
}

.social-item-twitter a:hover {
    color: #00acee;
}

.social-item-facebook a:hover {
    color: #3b5998;
}

.social-item-github a:hover {
    color: #171515;
}




@media (min-width: 500px) {
    .portfolio-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 750px) {
    .portfolio-item {
        width: 33.3333%;
    }
}

@media (min-width: 1000px) {
    body {
        width: 1000px;
        margin: 0 auto;
    }
}

